body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f3f3f3;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
}

h1 {
    color: #333;
}

input[type="text"] {
    padding: 10px;
    margin: 10px;
    width: 70%;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
}

.add-button {
    background-color: #3498db;
}

.filter-buttons button {
    margin: 5px;
}

.filter-button {
    background-color: #3498db;
}

.clear-button {
    background-color: #3498db;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    background-color: #d3ffd3;
}

.timestamp, .due-date {
    font-size: 0.8em;
    color: #888;
}

.due-date {
    margin-left: auto;
}
